.place__text {    
    margin: 0;
    margin-bottom: 26px;
    max-width: 484px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}

@media screen and (max-width: 768px) {
    .place__text {
        font-size: 16px;
    
    }
}

@media screen and (max-width: 700px) {
    .place__text {
        font-size: 16px;
    
    }
}