.intro {
    margin: 0 auto;
    margin-top: max(92px);
    max-width: calc(100% - 148px - 148px);

}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: calc(100% - 48px - 48px);
    
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: calc(100% - 48px);
        margin-top: max(88px);
    
    }
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: calc(100% - 32px);
        margin-top: max(64px);
    
    }
}