.cover {
    margin: 0 auto;
    max-width: 1184px;
    width: 100%;
/*    max-height: 740px;*/
/*    height: 100%;*/
    font-family: 'Inter';
    background-image: url(../../images/train__background.jpg);
    background-size: cover;
}

/*@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
        max-height: 640px;
    
    }
}*/