.places__item-title {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    max-width: 460px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
}

@media screen and (max-width: 976px) {
    .places__item-title {
        font-size: 42px;
        max-width: 95%;
    }

}

@media screen and (max-width: 708px) {
    .places__item-title {
        font-size: 32px;
        padding: 0 16px 0;
    }
}