.place__item-website {
    margin: 0;
    padding-top: 30px;
/*    padding-bottom: 8px;
    height: min-content;*/
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    
}

@media screen and (max-width: 320px) {
    .place__item-website  {
        padding: 0 16px 0;
    }
}